.container{
    background-color: var(--white-smoke);
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 12rem);
    grid-auto-rows: auto;
    grid-gap: 2.5rem;
    justify-content: center;
}


@media only screen and (min-width: 770px){
    .container{
        grid-template-rows: repeat(12, 10rem);
        padding: 3rem 6rem;
    }
}