.buttons__btn{
    font-family: var(--font-montserrat);
    color: var(--davys-gray);
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    background-color: transparent;
    border-radius: 0.7rem;
    border: 1px solid var(--davys-gray);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.buttons__btn:hover{
    background-color: var(--blue);
    border: none;
    color: var(--white);
}