.card-technologies__title{
    font-family: var(--font-montserrat);
    color: var(--davys-gray);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}