.card-profile__img{
    max-width: 14rem;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
}


@media only screen and (min-width: 770px){
    .card-profile__img{
        width: auto;
        max-width: none;
    }
}


@media only screen and (min-width: 1080px){
    .card-profile__img{
        height: 100%;
    }
}