.contact-profile__contact{
    font-family: var(--font-montserrat);
    color: var(--davys-gray);
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0.3rem 0;
    display: flex;
    align-items: center;
}