.contact-profile__contact{
    font-family: var(--font-montserrat);
    color: var(--davys-gray);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
}