.item-hobbie__txt{
    font-family: var(--font-montserrat);
    color: var(--gray);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
}


@media only screen and (min-width: 770px){
    .item-hobbie__txt{
    }
}