.measurer-color1{
    height: 0.6rem;
    background-color: var(--blue);
    border-radius: 2rem;
    position: absolute;
    z-index: 1;
}

.measurer-color1--react{
    width: 6rem;
}

.measurer-color1--js{
    width: 10rem;
}

.measurer-color1--css{
    width: 13rem;
}

.measurer-color1--react{
    width: 7rem;
}

.measurer-color1--vue{
    width: 1rem;
}

.measurer-color1--redux{
    width: 1rem;
}

.measurer-color1--react-native{
    width: 2rem;
}