.card-blog{
    grid-column-start: span 6;
    grid-row-start: span 4;
    background-color: var(--white);
    box-shadow: 0px 15px 20px -12px rgba(130,130,130,1);
    border-radius: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 770px){
    .card-blog{
        grid-column-start: span 4;
        grid-row-start: span 7;
    }
}

@media only screen and (min-width: 1080px){
    .card-blog{
        grid-column-start: span 4;
        grid-row-start: span 8;
    }
}